.tiny {
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
}

.body {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
}

.bodyCramped {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
}


